/* Global CSS Declarations */
* { box-sizing: border-box; }
body { margin:0; padding: 0; font-family:'Roboto', sans-serif; font-size:16px; line-height: 1.5; color: #697899;  background-color: rgb(249, 249, 249);}
img { max-width: 100%; height: auto; vertical-align: middle;}
h3{text-align: center; margin-top: 6%; }
.container, .wrapper { max-width: 1600px; width: 100%; display: block; margin: 0 auto; }

a { color: #017dfb; text-decoration: none; }


/* 1. Header Section */
.head .logo img{
    padding-top: 95px;
    margin-left: 210px;
}


.nav_logo ul li{
    list-style-type: none;
    margin-bottom: 2%;
    padding: 10px;
    display: inline-block;
}

.nav_logo ul{
    float: right;
    margin-top: 7%;
    margin-right: 4%;
}


/* 2. Main Section */

.main .back img{
  
    background-size: cover;
    width: 100%;
}



.main .title{
    text-align: center;
    margin-top: -40%;
    padding-bottom: 18%;
}

.main .title img{
    width: 26%;
    margin-top: 1.5%;
    margin-left: 1%;
    
}

.main .title p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(75, 148, 247);
}


.main .title .subTitle .offer button{
    padding: 0.5%;
    width: 10%;
    border-radius: 40px;
    border: 1px white;
    color: blue;
    
}

.color{
    background-color: blue;
    padding: 8.5%;
    margin-top: -16%;
    
}
.main .searchBottom{
   
    margin-bottom: 8%;
    width: 0px auto;
    margin-left: 0.5%;
    font-size: 10px;
    

   
    
}
.main .searchBottom ul li{
    list-style-type: none;
    display: inline-block;


}

.main .searchBottom ul li input{
    width: 40%;
    
    border-top:none;
    border-right:none;
    border-left:none;
    border-color: white;
    background: transparent;
    color: white;
    
   
}



.main .searchBottom ul li img{
    
    margin-top: 7%;
    margin-bottom: 9%;
 
    width: 8%;
    
    background: transparent;
}



::placeholder{
    color: white;
}


/* 3. Popular Places Section */

.popular .title h3{
    text-align: center;
}

.popular .title .MainFirst .First{
    width: 27%;
    float: left;
    margin-left: 2%;
    
}




.popular .title .MainFirst .First img{
    margin-top: 30px;

    
    
}




.popular .title .MainFirst .second{
   
    width: 38.5%;
    margin-left: 29px;
    margin-top: 2%;
    height: auto;
    float: left;
    
}



.popular .title .MainFirst .third{
    width: 27%;
    margin-left: 29px;
    height: auto;
    float: left;
    
  
}
.popular .title .MainFirst .third img{
    margin-top: 30px;
    
}

.popular .MainSecond .left ,.right{
    float: left;
    margin-top: 4%;
    width: 48.5%;
    margin-left: 1%;
    height: auto;
    
}

.popular .MainSecond img{
    width: 98%;
    margin-left: 2%;
}



/* 4. Popular Hotel Section */

.topTags .tops img{
    width: 70%;
    
}

.topTags{
    margin-left: 5%;
    padding: 2%;
    
}

.topTags .tops{
    float: left;
    width: 25%;
    margin-top: 5%;
  
    
    
}

/* .topTags .tops .name-doller{
    display: inline-block;
    width: 100%;
    
    
} */


.topTags .tops .rating{
    width: 70%;
    background-color: white;
}

.topTags .tops .btn{
    float: left;
    padding-left: 22%;
    margin-bottom: 7%;
}

.topTags .tops .rating .rating_star{
    width: 48%;
   display: inline-block;
}

.topTags .tops .rating .rating_star img{
    width: 42%;
}

.topTags .tops .rating .rating_star p{
    margin-left: 25%;
}

.topTags .tops .name_doller_sub{
    float: left;
    width: 50%;
    
    
}

.BottomTags{
    margin-left: 5%;
    padding: 2%;
}

.BottomTags .bottoms img{
    width: 70%;
}

/* .BottomTags .bottoms .name-doller{
    display: inline-block;
    width: 100%; 
} */    

.BottomTags .bottoms .rating{
    width: 70%;
    background-color: white;
}

.BottomTags .bottoms .rating .rating_star{
    width: 48%;
   display: inline-block;
}

.BottomTags .bottoms .rating .rating_star img{
    width: 42%;
}

.BottomTags .bottoms .name_doller_sub{
    float: left;
    width: 50%;
}

.BottomTags  .bottoms {
    float: left;
    width: 25%;

}

.BottomTags .bottoms .rating .rating_star p{
    margin-left: 25%;
}

.BottomTags .bottoms .btn{
    float: left;
    padding-left: 22%;
    margin-bottom: 7%;
    
    
    
    
}

button{
    border-radius: 40px;
    border: 1px solid white;
    height: 35px;
  
    position: relative;
    top: -15px;
    left: -5px;
    color: blue;

}


/* 5. Blog Section */

.blog .img{
    background-image: url('../assets/images/waterbg.png');
    padding: 20%;
    background-size: cover;
}

.blog .img .head{
    text-align: center;
}


.blog .img .head h3{
    font-size: 40px;
    
    color: white;
}

.blog .img .head p{
    font-size: 20px;
    
    color: white;
}

/* 6. Footer Section */

.footer{
    text-align: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    
}

.footer img{
   width: 20%;
   
}
.clearfix {
    display: block;
}

.clearfix:before,.clearfix:after {
    content: '';
    width: 100%;
    display: table;
}
